/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #ffffff;
    cursor: none; /* Oculta o cursor padrão */
}

.gradient-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #006944, #2F3E54, #006944, #2F3E54);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .typing-effect {
        font-size: 1.5em;
    }
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.content {
    position: relative;
    z-index: 1;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.logo img {
    width: 600px;
    height: auto;
}

/* Efeito de digitação */
.typing-effect {
    font-size: 2em;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
}

#changing-words {
    border-right: .15em solid #ffffff;
    animation: typing 2s steps(20, end), blink-caret .75s step-end infinite;
    display: inline-block;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ffffff; }
}


p {
    margin-top: 10px;
    font-size: 1.2em;
}

.email-link {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #006944;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.email-link:hover {
    background-color: #f0f0f0;
}


.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.15s ease, background-color 0.15s ease;
    z-index: 9999;
}

.cursor.hover {
    transform: scale(2.5);
    background-color: #3b665d; /* Cor ao passar sobre elementos interativos */
}

/* Estilos principais */
.highlighted-words {
    font-size: 1em; /* Tamanho maior para destacar as palavras */
    font-weight: bold; /* Negrito */
    color: #3498db; /* Cor inicial (um azul suave) */
    transition: color 0.5s ease, transform 0.3s ease; /* Transições suaves para troca de cores e escala */
    text-transform: uppercase; /* Caixa alta */
    display: inline-block;
}

/* Animação de troca de palavras */
.highlighted-words.appear {
    color: #e74c3c; /* Cor quando a palavra aparece (vermelho) */
    transform: scale(1.0); /* Pequeno aumento de escala para destaque */
}

.highlighted-words.disappear {
    color: #2ecc71; /* Cor antes de desaparecer (verde) */
    transform: scale(0.8); /* Diminuir a escala para o efeito de desaparecimento */
}